<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parts Engine Search</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/App.css" />
  <link rel="stylesheet" href="css/App.mobile.css" />
  <link rel="stylesheet" href="css/Theme.css" />
  <link rel="stylesheet" href="css/PriceSlider.css" />
</head>

<body>

  <div id="search-app">
    <template>
      <ais-instant-search
        :search-client="searchClient"
        :index-name="indexName"
        :routing="routing"
      >

        <!-- <ais-configure filters="recordType: Product" /> -->

        <header class="container-main flex-column">
          <ais-search-box>
            <template v-slot="{ currentRefinement, isSearchStalled, refine }">
              <div class="input-group">

                <div class="input-group-prepend">
                  <template v-if="isSearchStalled">
                    <span class="input-group-text">
                      <i
                        class="spinner-border spinner-border-sm text-secondary"
                        role="status"
                      >
                        <span class="sr-only">Loading...</span>
                      </i>
                    </span>
                  </template>

                  <template v-else>
                    <span
                      class="input-group-text bg-white"
                      id="basic-addon1"
                    >
                      <i class="fa fa-search"></i>
                    </span>
                  </template>
                </div>

                <label
                  class="sr-only"
                  for="globalSearchInput"
                >Search NCLM</label>
                <input
                  id="globalSearchInput"
                  class="search-input form-control form-control-lg"
                  type="search"
                  v-on:input="refineSearch(refine, $event.currentTarget.value)"
                  :value="currentRefinement"
                  :disabled="isSearchStalled"
                  placeholder="Type to search..."
                  autocomplete="nope"
                  autocorrect="off"
                  autocapitalize="none"
                  spellcheck="false"
                  autofocus
                >
              </div>
            </template>
          </ais-search-box>
        </header>

        <main class="container-main">
          <div class="container-wrapper">
            <section class="container-filters">
              <div class="container-header">
                <h2>Filters</h2>

                <ais-panel>
                  <ais-clear-refinements data-layout="desktop">
                    <template v-slot="{ canRefine, refine, createURL }">
                      <button
                        class="btn btn-sm btn-link clear-filters"
                        v-on:click.prevent="refine"
                        :disabled="!canRefine"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 11 11">
                          <g fill="none" fill-rule="evenodd" opacity=".4">
                            <path d="M0 0h11v11H0z" />
                            <path fill="#000" fill-rule="nonzero" d="M8.26 2.75a3.896 3.896 0 1 0 1.102 3.262l.007-.056a.49.49 0 0 1 .485-.456c.253 0 .451.206.437.457 0 0 .012-.109-.006.061a4.813 4.813 0 1 1-1.348-3.887v-.987a.458.458 0 1 1 .917.002v2.062a.459.459 0 0 1-.459.459H7.334a.458.458 0 1 1-.002-.917h.928z" />
                          </g>
                        </svg>
                        Clear filters
                      </button>
                    </template>
                  </ais-clear-refinements>
                </ais-panel>

                <ais-stats data-layout="mobile">
                  <template #default="{ nbHits }">
                    <span class="ais-Stats-text">
                      <strong>{{ formatNumber(nbHits) }}</strong> results
                    </span>
                  </template>
                </ais-stats>
              </div>

              <div class="container-body">
                <ais-panel :class-names="{
                  'ais-Panel': 'card rounded-0 p-0 mb-4',
                  'ais-Panel-header': 'card-header',
                  'ais-Panel-body': 'card-body'
                }">
                  <template #header>
                    Category
                  </template>

                  <template #default>
                    <ais-hierarchical-menu
                      :sort-by="['name', 'count']"
                      :attributes="[
                                      'categories.lvl0',
                                      'categories.lvl1',
                                      'categories.lvl2',
                                      'categories.lvl3',
                                      'categories.lvl4',
                                    ]"
                    />
                  </template>
                </ais-panel>

                <ais-panel :class-names="{
                  'ais-Panel': 'card rounded-0 p-0 mb-4',
                  'ais-Panel-header': 'card-header',
                  'ais-Panel-body': 'card-body'
                }">
                  <template #header>
                    Brands
                  </template>

                  <template #default>
                    <ais-refinement-list
                      attribute="manufacturerName"
                      searchable
                      searchable-placeholder="Search for brands..."
                      show-more
                    />
                  </template>
                </ais-panel>

                <ais-panel :class-names="{
                  'ais-Panel': 'card shadow-sm rounded-0 pt-0 mb-4',
                  'ais-Panel-header': 'card-header',
                  'ais-Panel-body': 'card-body'
                }">
                  <template #header>
                    Price
                  </template>

                  <template #default>
                    <ais-range-input attribute="salePrice">
                      <template #default="{ currentRefinement, range, refine, canRefine }">
                        <vue-slider
                          :min="range.min"
                          :max="range.max"
                          :value="toValue(currentRefinement, range)"
                          :disabled="!canRefine"
                          :lazy="true"
                          :use-keyboard="true"
                          :enable-cross="false"
                          tooltip="always"
                          :tooltip-placement="['top', 'bottom']"
                          :duration="0"
                          v-on:change="refine({ min: $event[0], max: $event[1] })"
                        >
                          <template #dot="{ index, value }">
                            <div
                              :aria-valuemin="range.min"
                              :aria-valuemax="range.max"
                              :aria-valuenow="value"
                              :data-handle-key="index"
                              class="vue-slider-dot-handle"
                              role="slider"
                              tabindex="0"
                            />
                          </template>
                          <template #tooltip="{ value }">
                            {{ formatNumber(value) }}
                          </template>
                        </vue-slider>
                      </template>
                    </ais-range-input>
                  </template>
                </ais-panel>

                <ais-panel :class-names="{
                  'ais-Panel': 'card rounded-0 p-0 mb-4',
                  'ais-Panel-header': 'card-header',
                  'ais-Panel-body': 'card-body'
                }">
                  <template #header>
                    Ratings
                  </template>

                  <template #default>
                    <ais-numeric-menu
                      attribute="avgRating"
                      :items="[
                        { label: 4, start: 4 },
                        { label: 3, start: 3 },
                        { label: 2, start: 2 },
                        { label: 1, start: 1 },
                      ]"
                    >
                      <template v-slot="{ items, refine }">

                        <!-- Start: Rating list -->
                        <ul class="list-unstyled mb-0">

                          <!-- Start: Rating list items -->
                          <li v-for="item in items" :key="item.value">
                            <a
                              class="btn hit-rating px-0"
                              :style="{ fontWeight: item.isRefined ? 'bold' : '' }"
                              v-on:click.prevent="refine(item.value)"
                            >
                            
                              <!-- Start: Rating icons -->
                              <template v-for="i in maxRating">
                                <svg :fill="svgFill(i, item.label)" xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 384 512">
                                  <path d="M153.6 29.9l16-21.3C173.6 3.2 180 0 186.7 0C198.4 0 208 9.6 208 21.3V43.5c0 13.1 5.4 25.7 14.9 34.7L307.6 159C356.4 205.6 384 270.2 384 337.7C384 434 306 512 209.7 512H192C86 512 0 426 0 320v-3.8c0-48.8 19.4-95.6 53.9-130.1l3.5-3.5c4.2-4.2 10-6.6 16-6.6C85.9 176 96 186.1 96 198.6V288c0 35.3 28.7 64 64 64s64-28.7 64-64v-3.9c0-18-7.2-35.3-19.9-48l-38.6-38.6c-24-24-37.5-56.7-37.5-90.7c0-27.7 9-54.8 25.6-76.9z" />
                                </svg>
                              </template>
                              & Up
                              <!-- End: Rating icons -->
                                
                            </a>
                          </li>
                          <!-- End: Rating list items -->

                        </ul>
                        <!-- End: Rating list -->
                        
                      </template>
                    </ais-numeric-menu>
                  </template>
                </ais-panel>
              </div>
            </section>

            <footer
              class="container-filters-footer"
              data-layout="mobile"
            >
              <ais-clear-refinements
                class="container-filters-footer-button-wrapper"
              >
                <template v-slot="{ canRefine, refine, createURL }">
                  <button
                    class="button button-secondary"
                    v-on:click.prevent="refine"
                    :disabled="!canRefine"
                  >
                    Clear filters
                  </button>
                </template>
              </ais-clear-refinements>

              <ais-stats class="container-filters-footer-button-wrapper">
                <template #default="{ nbHits }">
                  <button
                    class="button button-primary"
                    v-on:click="closeFilters"
                  >
                    See {{ formatNumber(nbHits) }} results
                  </button>
                </template>
              </ais-stats>
            </footer>
          </div>

          <section class="container-results">
            <header class="container-header container-options">
              <div class="col-auto">
                <ais-sort-by
                  class="container-option"
                  :items="[
                                    { value: indexName, label: 'Featured' },
                                    { value: `${indexName}_productName_asc`, label: 'Name (A to Z)' },
                                    { value: `${indexName}_productName_desc`, label: 'Name (Z to A)' },
                                    { value: `${indexName}_displayOrder_asc`, label: 'Popularity' },
                                    { value: `${indexName}_salePrice_desc`, label: 'Price (High to Low)' },
                                    { value: `${indexName}_salePrice_asc`, label: 'Price (Low to High)',
                                    },
                                  ]"
                />
              </div>

              <div class="col-auto">
                <ais-hits-per-page
                  class="container-option"
                  :items="[
                                    {
                                      label: '16 hits per page',
                                      value: 16,
                                      default: true,
                                    },
                                    {
                                      label: '32 hits per page',
                                      value: 32,
                                    },
                                    {
                                      label: '64 hits per page',
                                      value: 64,
                                    },
                                  ]"
                />
              </div>
            </header>

            <aside class="mb-3">
              <ais-current-refinements>
                <template v-slot:item="{ item, refine, createURL }">
                  <ul class="list-unstyled d-flex">
                    <li class="px-1">
                      {{ toDisplayLabel(item.label.toLowerCase()) }}:
                    </li>
                    <li
                      class="px-1"
                      v-for="refinement in item.refinements"
                      :key="[
                        refinement.attribute,
                        refinement.type,
                        refinement.value,
                        refinement.operator
                      ].join(':')"
                    >
                      <a
                        :href="createURL(refinement)"
                        v-on:click.prevent="refine(refinement)"
                      >
                        {{ refinement.label }} <span class="fa fa-times"></span>
                      </a>
                    </li>
                  </ul>
                </template>
              </ais-current-refinements>
            </aside>

            <ais-hits :class-names="{
              'ais-Hits-item': 'card shadow-sm rounded-0'
            }">
              <template #item="{ item }">
                <div class="card-header bg-white">
                  <figure class="hit-image-container">
                    <img
                      :src="getProductImageSrc(item)"
                      v-on:error="handleImageError($event.currentTarget)"
                      :alt="item.productName"
                      class="hit-image"
                      loading="lazy"
                    />
                  </figure>
                </div>

                <div class="hit card-body bg-light">
                  <div class="hit-info-container">
                    <p class="hit-category">
                      {{ item.categories.lvl0[0] }}
                    </p>

                    <h3 class="hit-title">{{ item.productName }}</h3>

                    <div class="hit-rating mb-3">
                      <template v-for="(i, index) in maxRating">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          height="1.25em"
                          viewBox="0 0 384 512"
                        >
                          <defs>
                            <linearGradient :id="`${item.objectID}-${index}`" x1="0%" y1="0%" x2="100%" y2="0%">
                              <stop :offset="svgColorStop(i, item.avgRating)" stop-color="#FAA100" />
                              <stop stop-color="#ccc" />
                            </linearGradient>
                          </defs>
                          <path
                            d="M153.6 29.9l16-21.3C173.6 3.2 180 0 186.7 0C198.4 0 208 9.6 208 21.3V43.5c0 13.1 5.4 25.7 14.9 34.7L307.6 159C356.4 205.6 384 270.2 384 337.7C384 434 306 512 209.7 512H192C86 512 0 426 0 320v-3.8c0-48.8 19.4-95.6 53.9-130.1l3.5-3.5c4.2-4.2 10-6.6 16-6.6C85.9 176 96 186.1 96 198.6V288c0 35.3 28.7 64 64 64s64-28.7 64-64v-3.9c0-18-7.2-35.3-19.9-48l-38.6-38.6c-24-24-37.5-56.7-37.5-90.7c0-27.7 9-54.8 25.6-76.9z"
                            :fill="`url(#${item.objectID}-${index})`"
                          />
                        </svg>
                      </template>

                      {{ formatNumber(item.avgRating, 2) }}
                      ({{ item.numRatings }})
                    </div>

                    <p class="d-flex align-items-center">
                      <template v-if="item.salePrice < item.price">
                        <span>From: <span class="sale-price">{{ formatCurrency(item.salePrice) }}</span></span>
                        &nbsp;
                        <s>{{ formatCurrency(item.price) }}</s>
                      </template>
                      <template v-else-if="item.price">
                        <span>From: {{ formatCurrency(item.price) }}</span>
                      </template>
                    </p>
                  </div>
                </div>
                
                <div class="card-footer bg-light border-0">
                  <a class="btn btn-outline-secondary text-uppercase d-block rounded-0" :href="getProductLinkUrl(item)">
                    <i class="fa fa-sign-out mr-1" aria-hidden="true"></i> See Details
                  </a>
                </div>
              </template>
            </ais-hits>

            <ais-panel>
              <no-results />
            </ais-panel>

            <footer class="container-footer">
              <ais-pagination :padding="2">
                <template #default="{
                                  currentRefinement,
                                  pages,
                                  isFirstPage,
                                  isLastPage,
                                  refine,
                                  createURL,
                                }">
                  <ul class="ais-Pagination-list">
                    <li
                      class="ais-Pagination-item ais-Pagination-item--previousPage ais-Pagination-item--disabled"
                      v-if="isFirstPage"
                    >
                      <span class="ais-Pagination-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 10 10"
                          width="10"
                          height="10"
                        >
                          <g
                            fill="none"
                            fill-rule="evenodd"
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.143"
                          >
                            <path d="M9 5H1M5 9L1 5l4-4" />
                          </g>
                        </svg>
                      </span>
                    </li>

                    <li
                      class="ais-Pagination-item ais-Pagination-item--previousPage"
                      v-if="!isFirstPage"
                    >
                      <a
                        class="ais-Pagination-link"
                        :href="createURL(currentRefinement - 1)"
                        v-on:click.prevent="refine(currentRefinement - 1)"
                        aria-label="Previous"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 10 10"
                          width="10"
                          height="10"
                        >
                          <g
                            fill="none"
                            fill-rule="evenodd"
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.143"
                          >
                            <path d="M9 5H1M5 9L1 5l4-4" />
                          </g>
                        </svg>
                      </a>
                    </li>

                    <li
                      :class="{
                                      'ais-Pagination-item': true,
                                      'ais-Pagination-item--page': true,
                                      'ais-Pagination-item--selected':
                                        page === currentRefinement,
                                    }"
                      v-for="page in pages"
                      :key="page"
                    >
                      <a
                        class="ais-Pagination-link"
                        :href="createURL(page)"
                        :style="{
                                        fontWeight: page === currentRefinement ? 'bold' : '',
                                      }"
                        v-on:click.prevent="refine(page)"
                      >{{ page + 1 }}</a>
                    </li>

                    <li
                      class="ais-Pagination-item ais-Pagination-item--nextPage"
                      v-if="!isLastPage"
                    >
                      <a
                        class="ais-Pagination-link"
                        :href="createURL(currentRefinement + 1)"
                        v-on:click.prevent="refine(currentRefinement + 1)"
                        aria-label="Next"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 10 10"
                          width="10"
                          height="10"
                        >
                          <g
                            fill="none"
                            fill-rule="evenodd"
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.143"
                          >
                            <path d="M1 5h8M5 9l4-4-4-4" />
                          </g>
                        </svg>
                      </a>
                    </li>

                    <li
                      class="ais-Pagination-item ais-Pagination-item--nextPage ais-Pagination-item--disabled"
                      v-if="isLastPage"
                    >
                      <span class="ais-Pagination-link">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 10 10"
                          width="10"
                          height="10"
                        >
                          <g
                            fill="none"
                            fill-rule="evenodd"
                            stroke="#000"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="1.143"
                          >
                            <path d="M1 5h8M5 9l4-4-4-4" />
                          </g>
                        </svg>
                      </span>
                    </li>
                  </ul>
                </template>
              </ais-pagination>
            </footer>
          </section>
        </main>

        <aside data-layout="mobile">
          <button
            class="filters-button"
            v-on:click="openFilters"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewbox="0 0 16 14"
            >
              <path
                d="M15 1H1l5.6 6.3v4.37L9.4 13V7.3z"
                stroke="#fff"
                stroke-width="1.29"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>

            Filters
          </button>
        </aside>

      </ais-instant-search>
    </template>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-instantsearch@3.4.2/dist/vue-instantsearch.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-slider-component@latest/dist/vue-slider-component.umd.min.js"></script>
  <script src="js/search.js" type="module"></script>

</body>

</html>
