.container-main {
	display: flex;
	max-width: 1340px;
	margin: 0 auto;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0);
}

.container-filters {
	flex: 1;
	width: 350px;
	max-width: 25vh;
	margin-right: 20px;
}

.container-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 80px;
}

.container-results {
	flex: 3;
}

.container-options {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
	padding: 20px 0;
	border-bottom: 1px solid #ebecf3;
	background-color: rgba(0, 0, 0, 0);
}

.container-options .container-option:not(:first-child) {
	margin-left: 48px;
}

.container-footer {
	margin: 4rem 0;
}

.clear-filters {
	display: flex;
	align-items: center;
}

.clear-filters svg {
	margin-right: 8px;
}

.container-body .ais-Panel {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* Search hits */
.hit {
	color: #21243d;
	font-size: 14px;
	line-height: 18px;
}

.hit h1 {
	font-size: 0.875;
}

.hit-title {
	font-size: 1rem;
}

.hit-title-lg {
	font-size: 1.5rem;
}

.hit-category {
	opacity: 0.7;
	margin-bottom: 8px;
	color: #21243d;
	font-weight: 600;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
}

.hit-description {
	margin-top: 2px;
}

.hit-info-container {
	word-break: break-word;
	overflow-wrap: break-word;
}

.hit-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 225px;
	margin: auto;
}

.hit-image-container.product-variant {
	max-width: 600px;
	height: auto;
	padding: 1rem;
}

.hit-image {
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.hit-rating {
	display: flex;
	font-weight: normal;
	gap: 0.5em;
}

.hits-empty-state {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	margin: auto;
}

.hits-empty-state .ais-ClearRefinements {
	margin-top: 1rem;
}

.hits-empty-state .ais-ClearRefinements-button--disabled {
	display: none;
}

.hits-empty-state .ais-ClearRefinements-button {
	min-height: 48px;
	padding: 16px 24px;
	border-radius: 3px;
	color: #21243d;
	background: rgba(10, 8, 41, 0.04);
}

.hits-empty-state-title {
	margin-bottom: 0;
	font-weight: bold;
	font-size: 1.5rem;
	font-family: Hind;
	text-align: center;
}

.hits-empty-state-description {
	color: rgba(35, 37, 51, 0.6);
	font-size: 0.875rem;
	text-align: center;
}