/* Price Slider */
.vue-slider {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.vue-slider-rail {
	width: calc(100% - 1rem) !important;
	height: 4px;
	margin: auto;
	border-radius: 3px;
	cursor: pointer;
	background-color: rgba(65, 66, 71, 0.08);
}

.vue-slider-process {
	border-radius: 3px;
	background-color: #b00;
}

.vue-slider-dot-tooltip {
	display: flex;
	margin-top: 5px;
	font-weight: bold;
	font-size: 0.875rem;
	cursor: grab;
}

.vue-slider-dot-tooltip::before {
	margin-right: 4px;
	color: #b00;
	font-size: 0.6;
	content: "$";
}

.vue-slider-dot-tooltip-text .vue-slider-dot-tooltip-inner {
	text-align: center;
	white-space: nowrap;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.vue-slider-dot-tooltip-bottom {
	margin-left: -10px;
}

.vue-slider-dot-handle {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	background-image: linear-gradient(to top, #f5f5fa, #fff);
	box-shadow: 0 4px 11px 0 rgba(37, 44, 97, 0.15), 0 2px 3px 0 rgba(93, 100, 148, 0.2);
}

[class^="ais-"] {
	box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1rem;
	-webkit-box-sizing: border-box;
}

a[class^="ais-"] {
	color: #21243d;
	text-decoration: none;
}

[class^="ais-"][class$="--disabled"] {
	cursor: not-allowed;
}

[class^="ais-"][class$="--disabled"] * {
	cursor: not-allowed;
}
